._*
*~
*.pyc
deploy_specific
.svn
\#*
src/bookmarklets/browser_extensions/google_chrome/jquery.min.js
src/bookmarklets/browser_extensions/google_chrome/settings.js
src/bookmarklets/browser_extensions/google_chrome/sherd.js