[submodule "lib/tiny_mce3"]
	path = lib/tiny_mce3
        url = git://github.com/ccnmtl/TinyMCE-clone.git
        #doesn't have minified files
        #that includes more than tiny_mce.js (minified)
        #url = git://github.com/tinymce/tinymce.git
[submodule "lib/openlayers"]
	path = lib/openlayers
	url = git://github.com/ccnmtl/openlayers.git
[submodule "lib/mcePlugin_editorwindow"]
	path = lib/mcePlugin_editorwindow
	url = git://github.com/ccnmtl/TinyMCE-EditorWindow-plugin.git
[submodule "lib/mcePlugin_citation"]
	path = lib/mcePlugin_citation
	url = git://github.com/ccnmtl/TinyMCE-Citation-plugin.git
