.sherd-analyzer{
	width: 100%;
	position: absolute;
	z-index: 999999999;
	top: 0;
	left: 0;
	background: #fff;
}
.sherd-window-inner h2{
   color: #fff;
   font-size: 24px;
   font-family : Arial !important;
}
.sherd-window{
	padding:0 25px 0 0;
}
.sherd-window-inner ul{
	display: inline-block;
	list-style: none;
	margin-top: 100px;
}
.sherd-window-inner ul li {
	display: inline-block;
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 4px;
	overflow: hidden;
	padding: 0px;
}
.sherd-asset-type{
	float: left;
	width: 100%;
	text-align: left;
	color: #333;
}
.sherd-asset-title{
	float: left;
	width: 100%;
	text-align: left;
	color: #333;
}
.sherd-asset-wrap{
	min-height: 135px;
	/*
	height: 135px;  90% of the possible height of 150px */
}
.sherd-window-inner .sherd-form-title{
	margin:0;
	border:0;
	padding:3px 0;
	color: #333;
}
.sherd-form-title{
	display: none;
}
.sherd-analyze-btn{
	display:block;
    padding:4px;
    margin:4px;
}
.sherd-asset-title, 
.sherd-form-title, .sherd-analyze-btn{
	display: none;
}
img.sherd-image{
	/*
	width:90%;
	*/
	max-width:250px;
	max-height:300px;

}
.import-header{
	position: absolute;
	top:0;
	left:50%;

	margin: 55px 0 0 -200px;
	width: 400px;
}
#import-header-wrap{
	width: 100%;
	position: absolute;
	margin: 0;
	top:0;
	height: 95px;
	background: url(/site_media/img/logo_mediathread_new.png)#383838 no-repeat;
	background-position: top center;
	}

.analyze.btn-primary, .cont.btn-primary{
	display: none;
	font-size: 12px;
	font-weight: normal;
	color: #2f2f2f;
	padding: 0px 5px;
	border: solid 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #fcfcfc, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fcfcfc, #efefef);
	background-image: -o-linear-gradient(top, #fcfcfc, #efefef);
	background-image: linear-gradient(to bottom, #fcfcfc, #efefef);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	cursor: pointer;
}

.sherd-image.hidden{
	/*
	display: none !important;
	*/
}

.sherd-asset li form{
	margin: 0 !important;
}

input.analyze{
	position: absolute;
	margin: -25px 0 0 170px;
	float: left;
	width: 75px;
}
input.cont{
	position: absolute;
	margin: -25px 0 0 5px;
	float: left;
	width: 135px;
}

button.sherd-close{
	cursor: pointer;
	position: absolute;
	z-index: 999;
}
button.sherd-collection{
	cursor: pointer;
	position: absolute;
	z-index: 999;
	margin: 20px 0 0 0;
}
.sherd-btn-overlay{
	/*background:url('/site_media/js/sherdjs/src/bookmarklets/sherd_bg.png');*/
	background: #333;
	opacity: .75;
	height: 35px;
	z-index: 0;
	width: 250px;
	margin: -35px 0 0 0px;
	position: absolute;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: none;
}